{% for card in page_obj %}
<img src="{{ card.image }}" alt="img" width="200" height="200"><br>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&size=60}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&size=60">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&size=60">Next 60</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&size=60">last &raquo;</a>
        {% endif %}
    </span>
</div>