<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Runewell · Card Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'styles/home_search.css' %}">
</head>
<body>

<!-- HERO -->
<section class="hero">
    <div class="hero-content">
        <h1>
            Runewell
        </h1>

        <form method="get" action="{% url 'list' %}" class="search-box">
            <span class="search-icon">🔍</span>
            <input
                    type="text"
                    name="name"
                    placeholder="Search cards…"
                    autocomplete="off"
            >
        </form>
        <div class="hero-actions">
            <a href="{% url 'card_advanced' %}" class="hero-btn">Advanced Search</a>
            <a href="#" class="hero-btn">Random Card</a>
        </div>
    </div>
</section>

</body>
</html>
