<!DOCTYPE html>
{% load mathfilters %}
{% load static %}
<script src="{% static 'scripts/list.js' %}"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Runewell</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <script src="{% static 'scripts/list.js' %}" defer></script>
</head>

<body class="body">
{% include "bases/header.html" %}
<div class="pagination-and-sort-bg">
    <div class="pagination-and-sort">
        <div class="filter">
            Sorted by
            <select id="order_id_header">
                <option value="name">Name</option>
                <option value="color">Color</option>
                <option value="cost">Cost</option>
                <option value="type">Type</option>
                <option value="might">Might</option>
                <option value="set_name">Set</option>
                <option value="rarity">Rarity</option>
            </select>
            :
            <select id="dir_id_header">
                <option value="asc">Asc</option>
                <option value="desc">Desc</option>
            </select>
        </div>
        <div class="pagination">
            <button {% if page_obj.has_previous %} onClick="pageNavigate('1')" href="?page=1" {% endif %}
                    {% if not page_obj.has_previous %} disabled {% endif %} class="pagination-button">«
            </button>
            <button {% if page_obj.has_previous %} onClick="pageNavigate('{{ page_obj.previous_page_number }}')"
                    href="?page={{ page_obj.previous_page_number }}" {% endif %}
                    {% if not page_obj.has_previous %}disabled{% endif %} class="pagination-button">ᐸ Previous
            </button>
            <button {% if page_obj.has_next %} onClick="pageNavigate('{{ page_obj.next_page_number }}')"
                    href="?page={{ page_obj.next_page_number }}" {% endif %}
                    {% if not page_obj.has_next %}disabled{% endif %} class="pagination-button">Next 60 ᐳ
            </button>
            <button {% if page_obj.has_next %} onClick="pageNavigate('{{ page_obj.paginator.num_pages }}')"
                    href="?page={{ page_obj.paginator.num_pages }}" {% endif %}
                    {% if not page_obj.has_next %}disabled{% endif %} class="pagination-button">»
            </button>
        </div>
    </div>
</div>
<div class="description-bg">
    <div class="description">
        <mark class="highlighted-text">{{ page_obj.number|sub:1|mul:60|add:1 }} -
            {% if page_obj.has_next %} {{ page_obj.number|mul:60 }} {% else %} {{ page_obj.paginator.count }}
            {% endif %} of {{ page_obj.paginator.count }} cards
        </mark>
    </div>
</div>
<main class="cards">
    {% for card in page_obj %}
    <a href="{% url 'card_detail' card.id %}">
        <div class="card-wrapper">
            <img class="card" src="{{ card.image }}"/>
        </div>
    </a>
    {% endfor %}
</main>
<div class="pagination-and-sort-bg">
    <div class="pagination-and-sort">
        <div class="filter">
            Sorted by
            <select id="order_id_footer" value="">
                <option value="name">Name</option>
                <option value="color">Color</option>
                <option value="cost">Cost</option>
                <option value="type">Type</option>
                <option value="might">Might</option>
                <option value="set_name">Set</option>
                <option value="rarity">Rarity</option>
            </select>
            :
            <select id="dir_id_footer" value="">
                <option value="asc">Asc</option>
                <option value="desc">Desc</option>
            </select>
        </div>
        <div class="pagination">
            <button {% if page_obj.has_previous %} onClick="pageNavigate('1')" href="?page=1" {% endif %}
                    {% if not page_obj.has_previous %}disabled{% endif %} class="pagination-button">«
            </button>
            <button {% if page_obj.has_previous %} onClick="pageNavigate('{{ page_obj.previous_page_number }}')"
                    href="?page={{ page_obj.previous_page_number }}" {% endif %}
                    {% if not page_obj.has_previous %}disabled{% endif %} class="pagination-button">ᐸ Previous
            </button>
            <button {% if page_obj.has_next %} onClick="pageNavigate('{{ page_obj.next_page_number }}')"
                    href="?page={{ page_obj.next_page_number }}" {% endif %}
                    {% if not page_obj.has_next %}disabled{% endif %} class="pagination-button">Next 60 ᐳ
            </button>
            <button {% if page_obj.has_next %} onClick="pageNavigate('{{ page_obj.paginator.num_pages }}')"
                    href="?page={{ page_obj.paginator.num_pages }}" {% endif %}
                    {% if not page_obj.has_next %}disabled{% endif %} class="pagination-button">»
            </button>
        </div>
    </div>
</div>
{% include "bases/footer.html" %}
</body>
</html>