<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Runewell</title>
    <link rel="stylesheet" href="../../static/styles/styles.css">
</head>
<body>
{% include "bases/header.html" %}
<form action="/card/list">
    <label for="name">Name</label>
    <input id="name" name="name" type="text">
    <br>
    <label for="effect">Effect</label>
    <input id="effect" name="effect" type="text">
    <br>
    <label for="type">Type</label>
    <select name="type" multiple>
        {% for type in types %}
        <option value="{{ type }}">{{ type|capfirst }}</option>
        {% endfor %}
    </select>
    <br>
    <label><input type="checkbox" value="Body"><img src="">Body</label>
    <label><input type="checkbox" value="Calm">Calm</label>
    <label><input type="checkbox" value="Chaos">Chaos</label>
    <label><input type="checkbox" value="Fury">Fury</label>
    <label><input type="checkbox" value="Mind">Mind</label>
    <label><input type="checkbox" value="Order">Order</label>
    <label><input type="checkbox" value="Colorless">Colorless</label>
    <br>
    <label for="set">Set</label>
        <select name="set">
            {% for set in sets %}
            <option value="{{ set }}">{{ set|capfirst }}</option>
            {% endfor %}
        </select>
    <br>
    <input type="submit" value="Search with these options">
</form>
</body>
</html>